/**
 * =========== ACF block edit fields (sidebar and overlay) =============================================================
 * Make ACF fields look more like the core WP block editor fields where they don't already
 */
.acf-block-panel {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.acf-block-panel,
.editor-sidebar__panel {

	.acf-fields {
		.acf-label {
			text-transform: uppercase;
			font-size: 11px;
			margin: 0;
		}

		.acf-input {
			input[type="text"],
			input[type="number"],
			input[type="email"],
			input[type="url"],
			textarea,
			select {
				font-size: 13px;
				min-height: 40px;
				border-radius: 3px;
				padding: 0 30px 0 12px;
			}

			select {
				background-size: 13px;
				background-position: right 10px top 55%;
			}

			.button {
				font-weight: normal;

				&:after {
					content: none;
				}
			}

			.select2-selection {
				min-height: 40px;
				border-radius: 3px;
				padding: 0 30px 0 12px;

				&__rendered {
					height: 100%;
					display: flex !important;
					align-items: center;
				}

				&__arrow {
					height: 100% !important;
					right: 0.5rem !important;
				}
			}

		}
	}

	.select2-container {
		max-width: 100%;
	}
}

.acf-gallery-side {
	.acf-label {
		text-transform: none !important;
		font-size: 12px !important;
	}
}

.components-modal__header-heading {
	font-family: inherit;
}

.acf-button {
	.wp-core-ui & {
		font-weight: inherit;

		&:after {
			content: none;
		}
	}
}
