#wp-link-wrap[role="dialog"] {
	padding-block-end: inherit;

	#link-modal-title {
		font-family: inherit;
	}

	p {
		font-weight: inherit;
	}

	#link-options div:not(.link-target),
	.link-search-wrapper {
		label {
			display: flex;
			align-items: center;
			flex-wrap: nowrap;
		}
	}

	#wp-link-cancel {
		.button {
			font-weight: inherit;

			&:after {
				content: none;
			}
		}
	}
}
