@use '../vendor/doubleedesign/comet-components-core/src/components/bem-class-selectors' as bem;
@use '../vendor/doubleedesign/comet-components-core/src/components/PageSection/page-section.scss' as page-section;

:root {
	--wp-editor-canvas-background: white;
}

#adminmenu {
	.wp-submenu {
		margin-left: 0;
	}
}

body :where(.editor-styles-wrapper) {
	font-family: unset !important;
	font-size: 1rem !important;
	line-height: inherit !important;
	--wp--style--block-gap: 0 !important;

	p {
		line-height: inherit !important;
	}
}

.acf-tooltip {
	padding: 0.75rem !important;
}

.editor-styles-wrapper {
	@extend .body;

	@each $colorName in ['primary', 'secondary', 'accent', 'info', 'warning', 'success', 'error', 'light', 'dark', 'white'] {
		&:has(.page-header[data-background="#{$colorName}"]) {
			.is-root-container {
				:first-child[data-background="#{$colorName}"] {
					padding-block-start: 0;
				}
			}
		}
	}
}

.is-root-container {
	@extend .body;
	padding-block: 0 !important;
}

.block-editor-block-list__layout {
	.wp-block {
		width: 100%;
		max-width: 100%;
	}
}

// Do not show ACF block content in the sidebar
.acf-block-component.acf-block-panel {
	display: none;
}

.acf-field-wysiwyg.acf-field--call-to-action--description {
	.mce-edit-area {
		height: 100px;
	}
}
