@use '../vendor/doubleedesign/comet-components-core/src/components/bem-class-selectors' as bem;
@use '../vendor/doubleedesign/comet-components-core/src/components/PageSection/page-section.scss' as page-section;

:root {
	--wp-editor-canvas-background: white;
}

#wpadminbar {
	padding: 0 !important;
}

#adminmenu {
	.wp-submenu {
		margin-left: 0;
	}
}

body :where(.editor-styles-wrapper) {
	font-family: unset !important;
	font-size: 1rem !important;
	line-height: inherit !important;
	--wp--style--block-gap: 0 !important;

	p {
		line-height: inherit !important;
	}
}

.acf-tooltip {
	padding: 0.75rem !important;
}

.editor-styles-wrapper {
	@extend .body;

	@each $colorName in ['primary', 'secondary', 'accent', 'info', 'warning', 'success', 'error', 'light', 'dark', 'white'] {
		&:has(.page-header[data-background="#{$colorName}"]) {
			.is-root-container {
				:first-child[data-background="#{$colorName}"] {
					padding-block-start: 0;
				}
			}
		}
	}
}

.is-root-container {
	@extend .body;
	padding-block: 0 !important;
}

.block-editor-block-list__layout {
	.wp-block {
		width: 100%;
		max-width: 100%;
	}
}

// Deal with CSS loaded on enqueue_block_assets affecting the media uploader
.media-toolbar, .media-sidebar {
	h2 {
		font-size: unset;
		margin-top: 1rem;
	}
}

// Deal with CSS loaded on enqueue_block_assets affecting the sidebar popups
.block-editor-inspector-popover-header__heading {
	font-size: unset;
}

// Other various fixes for Comet/theme styles overriding admin styles where we don't want them to
.wp-core-ui {
	.button {
		font-family: inherit;

		// Link selector modal
		#wp-link {
			label {
				input {
					display: revert;
				}
			}
		}
	}
}

.acf-button {
	display: inline-flex !important;
	align-items: center !important;
}

.select2-container--default {
	padding-inline: 0 !important;
}
