html :where(.wp-block) {
  margin-top: 0;
  margin-bottom: 0;
  max-width: var(--width-contained);
}

.block-editor-iframe__container {
  width: 100% !important;
  max-width: 100% !important;
}

.block-editor-inserter__panel-title {
  font-size: 0.75rem !important;
}

.components-menu-item__button[href*="site-editor.php"] {
  display: none !important;
}

.block-list-appender {
  margin: 0 auto;
}
.block-list-appender .block-editor-inserter {
  width: 100%;
}
.block-list-appender__toggle {
  width: 100%;
  justify-content: center;
  border: 1px solid #3c434a;
}

.acf-block-component .acf-block-fields {
  font-family: inherit;
}

.block-editor-block-list__block a {
  pointer-events: none !important;
}

/**
 * =========== Block editor sidebar ====================================================================================
 */
.components-base-control:has([aria-label="Change vertical alignment"]) {
  padding: 1rem;
  width: max-content;
  margin-left: auto;
  margin-top: -96px;
  margin-bottom: 0;
}
.components-base-control:has([aria-label="Change vertical alignment"]) .components-dropdown-menu__toggle {
  border: 1px solid transparent;
  margin-top: 1px;
}
.components-base-control:has([aria-label="Change vertical alignment"]) .components-dropdown-menu__toggle:hover, .components-base-control:has([aria-label="Change vertical alignment"]) .components-dropdown-menu__toggle:focus, .components-base-control:has([aria-label="Change vertical alignment"]) .components-dropdown-menu__toggle:active {
  border-color: var(--wp-components-color-gray-700, #757575);
}

.edit-post-meta-boxes-area__container {
  padding-inline: 0;
}

.components-panel__body + .comet-custom-layout-controls {
  display: none;
}
.components-panel__body.is-opened + .comet-custom-layout-controls {
  display: block;
}

.components-input-control__label {
  display: flex !important;
  align-items: center;
  gap: 0.25rem;
}

.components-toggle-group-control {
  transition: border 0.2s ease-in-out;
  border: 1px solid var(--wp-components-color-gray-300, #dee2e6) !important;
  min-height: 32px !important;
}
.components-toggle-group-control:hover, .components-toggle-group-control:focus-within {
  border-color: var(--wp-components-color-gray-700, #757575) !important;
}
.components-toggle-group-control-option-base {
  transition: background 0.2s ease-in-out;
}
.components-toggle-group-control-option-base:not([aria-checked=true]):not([aria-pressed=true]):hover, .components-toggle-group-control-option-base:not([aria-checked=true]):not([aria-pressed=true]):focus {
  background: #EEE;
}

.components-toggle-control__help code {
  font-size: 0.7rem;
}

.components-resizable-box__container {
  max-width: 100% !important;
}
.components-resizable-box__container img {
  max-width: 100% !important;
}
.components-resizable-box__container .advanced-image-field img {
  max-width: unset !important;
}

.comet-toggle-group button {
  min-height: 2rem;
}
.comet-toggle-group button svg {
  width: 1.5rem;
  height: auto;
}

.comet-color-controls__item {
  width: 100%;
  display: flex;
}
.comet-color-controls__item .components-dropdown {
  flex-grow: 1;
}
.comet-color-controls__item .components-dropdown button {
  width: 100%;
  border: 1px solid #e0e0e0;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}
.comet-color-controls__item .components-dropdown button[aria-expanded=true] {
  border-color: var(--wp-components-color-primary, #007cba);
}

/**
 * =========== ACF block edit fields (sidebar and overlay) =============================================================
 * Make ACF fields look more like the core WP block editor fields where they don't already
 */
.acf-block-panel {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.acf-block-panel .acf-fields .acf-label,
.editor-sidebar__panel .acf-fields .acf-label {
  text-transform: uppercase;
  font-size: 11px;
  margin: 0;
}
.acf-block-panel .acf-fields .acf-input input[type=text],
.acf-block-panel .acf-fields .acf-input input[type=number],
.acf-block-panel .acf-fields .acf-input input[type=email],
.acf-block-panel .acf-fields .acf-input input[type=url],
.acf-block-panel .acf-fields .acf-input textarea,
.acf-block-panel .acf-fields .acf-input select,
.editor-sidebar__panel .acf-fields .acf-input input[type=text],
.editor-sidebar__panel .acf-fields .acf-input input[type=number],
.editor-sidebar__panel .acf-fields .acf-input input[type=email],
.editor-sidebar__panel .acf-fields .acf-input input[type=url],
.editor-sidebar__panel .acf-fields .acf-input textarea,
.editor-sidebar__panel .acf-fields .acf-input select {
  font-size: 13px;
  min-height: 40px;
  border-radius: 3px;
  padding: 0 30px 0 12px;
}
.acf-block-panel .acf-fields .acf-input select,
.editor-sidebar__panel .acf-fields .acf-input select {
  background-size: 13px;
  background-position: right 10px top 55%;
}
.acf-block-panel .acf-fields .acf-input .select2-selection,
.editor-sidebar__panel .acf-fields .acf-input .select2-selection {
  min-height: 40px;
  border-radius: 3px;
  padding: 0 30px 0 12px;
}
.acf-block-panel .acf-fields .acf-input .select2-selection__rendered,
.editor-sidebar__panel .acf-fields .acf-input .select2-selection__rendered {
  height: 100%;
  display: flex !important;
  align-items: center;
}
.acf-block-panel .acf-fields .acf-input .select2-selection__arrow,
.editor-sidebar__panel .acf-fields .acf-input .select2-selection__arrow {
  height: 100% !important;
  right: 0.5rem !important;
}

/*# sourceMappingURL=block-editor-config.css.map */
