@use 'sass:color';

html :where(.wp-block) {
	margin-top: 0;
	margin-bottom: 0;
	max-width: var(--width-contained);
}

.block-editor-iframe__container {
	width: 100% !important;
	max-width: 100% !important;
}

.block-editor-inserter__panel-title {
	font-size: 0.75rem !important;
}

.components-menu-item__button[href*="site-editor.php"] {
	display: none !important;
}

.block-list-appender {
	margin: 0 auto;

	.block-editor-inserter {
		width: 100%;
	}

	&__toggle {
		width: 100%;
		justify-content: center;
		border: 1px solid #3c434a;
	}

}

.acf-block-component .acf-block-fields {
	font-family: inherit;
}

/**
 * Block editor sidebar
 */
// Custom vertical alignment used for the banner block (and possibly others added after this)
.components-base-control:has([aria-label="Change vertical alignment"]) {
	// Hack it into position next to the horizontal justification in the layout panel above
	padding: 1rem;
	width: max-content;
	margin-left: auto;
	margin-top: -96px;
	margin-bottom: 0;

	// Make the button match the horizontal justification one
	.components-dropdown-menu__toggle {
		border: 1px solid transparent;
		margin-top: 1px;

		&:hover, &:focus, &:active {
			border-color: var(--wp-components-color-gray-700, #757575);
		}
	}
}

.edit-post-meta-boxes-area__container {
	padding-inline: 0;
}

.components-panel__body {
	// When the layout panel is closed, hide the custom vertical alignment and container size so they appear like they're in the layout panel
	+ .comet-custom-layout-controls {
		display: none;
	}

	&.is-opened {
		+ .comet-custom-layout-controls {
			display: block;
		}
	}
}

.components-toggle-group-control {
	transition: border 0.2s ease-in-out;
	border: 1px solid var(--wp-components-color-gray-300, #dee2e6) !important;
	min-height: 32px !important; // default 36px is 2px too high for the buttons and I can't unsee it

	&:hover, &:focus-within {
		border-color: var(--wp-components-color-gray-700, #757575) !important;
	}

	&-option-base {
		transition: background 0.2s ease-in-out;

		&:not([aria-checked="true"]):not([aria-pressed="true"]) {
			&:hover, &:focus {
				background: #EEE;
			}
		}
	}
}

.components-toggle-control__help {
	code {
		font-size: 0.7rem;
	}
}

.components-resizable-box__container {
	max-width: 100% !important;

	img {
		max-width: 100% !important;
	}

	.advanced-image-field {
		img {
			max-width: unset !important;
		}
	}
}

.comet-toggle-group {
	button {
		min-height: 2rem;

		svg {
			width: 1.5rem;
			height: auto;
		}
	}
}

.comet-color-controls {

	&__item {
		width: 100%;
		display: flex;

		.components-dropdown {
			flex-grow: 1;

			button {
				width: 100%;
				border: 1px solid #e0e0e0;
				display: flex;
				gap: 0.5rem;
				justify-content: flex-start;
				align-items: center;

				&[aria-expanded="true"] {
					border-color: var(--wp-components-color-primary, #007cba);
				}
			}
		}
	}
}

// Make ACF selects look like native selects
.wp-core-ui .acf-block-panel {
	display: flex;
	flex-direction: column;
	gap: 8px;

	.acf-label {
		text-transform: uppercase;
		font-size: 11px;
		margin: 0;
	}

	.acf-input select {
		font-size: 13px;
		background-size: 13px;
		background-position: right 10px top 55%;
		min-height: 40px;
		border-radius: 3px;
		padding: 0 30px 0 12px;
	}
}
