html :where(.wp-block) {
  margin-top: 0;
  margin-bottom: 0;
  max-width: var(--width-contained);
}

.components-menu-item__button[href*="site-editor.php"] {
  display: none !important;
}

/** Preferences modal **/
.preferences__tabs #tabs-2-blocks {
  display: none;
}

/** Block editor - content region **/
.editor-visual-editor__post-title-wrapper {
  padding-inline: var(--spacing-md);
  margin-top: 0 !important;
}
.is-homepage .editor-visual-editor__post-title-wrapper {
  display: none;
}

.block-editor-block-list__layout {
  container-type: inline-size;
}
.block-editor-block-list__layout > .wp-block-group {
  padding-inline: var(--spacing-md);
}

.block-editor-inner-blocks .block-editor-block-list__layout {
  container-type: unset;
}

.wp-site-blocks {
  font-family: var(--font-family-body);
}

.block-list-appender {
  margin: 0 auto;
}
.block-list-appender .block-editor-inserter {
  width: 100%;
}
.block-list-appender__toggle {
  width: 100%;
  justify-content: center;
  border: 1px solid #3c434a;
}

.acf-block-component .acf-block-fields {
  font-family: inherit;
}

/**
 * Block editor sidebar
 */
.components-base-control:has([aria-label="Change vertical alignment"]) {
  padding: 1rem;
  width: max-content;
  margin-left: auto;
  margin-top: -96px;
  margin-bottom: 0;
}
.components-base-control:has([aria-label="Change vertical alignment"]) .components-dropdown-menu__toggle {
  border: 1px solid transparent;
  margin-top: 1px;
}
.components-base-control:has([aria-label="Change vertical alignment"]) .components-dropdown-menu__toggle:hover, .components-base-control:has([aria-label="Change vertical alignment"]) .components-dropdown-menu__toggle:focus, .components-base-control:has([aria-label="Change vertical alignment"]) .components-dropdown-menu__toggle:active {
  border-color: var(--wp-components-color-gray-700, #757575);
}

.components-panel__body + .comet-custom-layout-controls {
  display: none;
}
.components-panel__body.is-opened + .comet-custom-layout-controls {
  display: block;
}

.components-toggle-group-control {
  transition: border 0.2s ease-in-out;
  border: 1px solid var(--wp-components-color-gray-300, #dee2e6) !important;
  min-height: 32px !important;
}
.components-toggle-group-control:hover, .components-toggle-group-control:focus-within {
  border-color: var(--wp-components-color-gray-700, #757575) !important;
}
.components-toggle-group-control-option-base {
  transition: background 0.2s ease-in-out;
}
.components-toggle-group-control-option-base:not([aria-checked=true]):not([aria-pressed=true]):hover, .components-toggle-group-control-option-base:not([aria-checked=true]):not([aria-pressed=true]):focus {
  background: #EEE;
}

.components-toggle-control__help code {
  font-size: 0.7rem;
}

.components-resizable-box__container {
  max-width: 100% !important;
}
.components-resizable-box__container img {
  max-width: 100% !important;
}
.components-resizable-box__container .advanced-image-field img {
  max-width: unset !important;
}

.comet-toggle-group button {
  min-height: 2rem;
}
.comet-toggle-group button svg {
  width: 1.5rem;
  height: auto;
}

.comet-color-controls__item {
  width: 100%;
  display: flex;
}
.comet-color-controls__item .components-dropdown {
  flex-grow: 1;
}
.comet-color-controls__item .components-dropdown button {
  width: 100%;
  border: 1px solid #e0e0e0;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
}
.comet-color-controls__item .components-dropdown button[aria-expanded=true] {
  border-color: var(--wp-components-color-primary, #007cba);
}

/*# sourceMappingURL=block-editor-config.css.map */
