@use 'sass:color';
@use 'editor/_core-styles/_block-editor-sidebar' as *;
@use 'editor/_core-styles/_acf-block-edit' as *;
@use 'editor/_core-styles/_media-library-overlay' as *;
@use 'editor/_core-styles/_link-modal' as *;

html :where(.wp-block) {
	margin-top: 0;
	margin-bottom: 0;
	max-width: var(--width-contained);
}

.editor-document-bar__title h1 {
	font-family: inherit;
}

.block-editor-iframe__container {
	width: 100% !important;
	max-width: 100% !important;
}

.block-editor-inserter__panel-title {
	font-size: 0.75rem !important;
	font-family: inherit;
}

.block-editor-block-types-list__item-title {
	span {
		hyphens: none;
	}
}

.components-menu-item__button[href*="site-editor.php"] {
	display: none !important;
}

.block-list-appender {
	margin: 0 auto;

	.block-editor-inserter {
		width: 100%;
	}

	&__toggle {
		width: 100%;
		justify-content: center;
		border: 1px solid #3c434a;
	}

}

.block-editor-block-list__block {
	a {
		pointer-events: none !important; // prevent links being clickable in the editor because they then navigate away in the iframe
	}
}
