@use '../../vendor/doubleedesign/comet-components-core/src/components/_functions.scss' as func;

$swatchSize: 1.75rem;

@mixin swatch-base() {
	display: flex !important;
	align-items: center;
	padding: 0 !important;
	margin: 0 !important;
	position: relative;
	transition: background 0.3s, border-color 0.3s;

	&:before {
		content: '';
		display: block;
		width: 1.75rem;
		height: 1.75rem;
		border-radius: 1.75rem;
		border: 1px solid transparent;
	}

	&:after {
		position: absolute;
		left: 1px;
		top: 1px;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid transparent;
	}

	&.mce-active,
	&:hover,
	&:focus {
		background: transparent !important;
		border-color: #1d1f21 !important;
	}

	&.mce-active {
		&:after {
			content: '\f00c';
			font-family: var(--fa-style-family-classic);
			font-size: 1rem;
			font-weight: 700;
		}
	}
}

.mce-window.mce-container:not([aria-label="Keyboard Shortcuts"]) {
	width: 600px;
	left: calc(50dvw - 300px) !important;

	&:has(#button-group-form-container) {
		width: 700px !important;
	}
}

.mce-floatpanel [role="menu"]:has(.mce-color-theme-field__swatch) {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	height: $swatchSize;
	padding: 0.25rem;
}

.mce-color-theme-field {
	height: 2.5rem !important;

	&__swatch {
		@include swatch-base();
		font-size: 0 !important;
		border-radius: $swatchSize;
		border: 2px solid transparent !important;
		width: fit-content !important;
		height: fit-content !important;
		justify-content: center;

		@each $colorName in ['primary', 'secondary', 'accent', 'info', 'warning', 'success', 'error', 'light', 'dark', 'white'] {
			&--#{$colorName} {
				&:before {
					background-color: var(--color-#{$colorName});
					border-color: func.darken($colorName, 10%);
				}

				&:after {
					color: var(--readable-color-#{$colorName});
				}
			}
		}

		&--inherit {
			&:before {
				background-color: transparent;
				content: '\f05e';
				font-family: var(--fa-style-family-classic);
				font-size: 1.75rem;
				color: #999;
			}

			&:after {
				color: #3f3f3f;
			}
		}

		.mce-text {
			font-size: 0;
		}
	}

	> button {
		@include swatch-base();
		height: 100%;
		display: flex !important;
		width: 100% !important;
		justify-content: unset !important;
	}
}

.mce-container-body:has(#button-group-form-container) {
	background: white;
	min-height: 300px !important;
	width: auto !important;
	display: flex !important;
	flex-direction: column;

	> .mce-label {
		position: relative !important;
		display: block;
		top: unset !important;
	}
}

#button-group-form-container {
	> .acf-fields {
		p {
			text-wrap: wrap;
		}
	}

	.acf-field-repeater {
		padding: 0 !important;
		margin-top: 0.5rem !important;

		> .acf-label {
			display: none;
		}

		.acf-table {
			border: 1px solid #CCC;
		}
	}
}

.mce-content-body [contenteditable="false"] {
	cursor: pointer;
}
